*{
    margin:0;
}
body,html{
    min-width: 100%;
    overflow-x: hidden;
}

h3,ul{
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    font-size:15px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
    color:hsl(233, 26%, 24%);
}
header{
    width: 100%;
    /* padding: 1rem 0; */
    position:relative;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #fff;
    align-items: center;
}
header img{
    margin-left: -5rem;
}

header ul{

    height: 4rem;
    list-style: none;
    display: flex;
    gap:1.5rem;
}
header ul li{
    font-size: small;
    color: #ccc;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
header ul li::before{
    content: "";
}

header ul li::after{
    content: "";
    transform: scale(0);
    height: 5px;
}

header ul li:hover{
    color: hsl(233, 26%, 24%);
    cursor: pointer;
}
header ul li:hover::after{
    transform: scale(1);
    transition: transform 400ms ease-in-out;
    background : linear-gradient(to right, hsl(136, 65%, 51%),  hsl(192, 70%, 51%));
}

button{
    border: 0;
    color:white;
    font-weight:bold;
    border-radius: 2em;
    padding:.75rem 2rem;
    background : linear-gradient(to right, hsl(136, 65%, 51%),  hsl(192, 70%, 51%));
}

.division{
    height: 60%;
    width:100%
}

.division1{
    box-sizing: border-box;
    background-color: hsl(0, 0%, 98%);
    background-image: url(./images/bg-intro-desktop.svg);
    background-position: 32rem -18rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    min-width: 100%;
}
.mockup{
    margin-top: -7rem;
    margin-right: -8.4rem;
    margin-bottom: -12rem;
}

.division1 .division1-content{
    width:32%;
    align-self: self-start;
    margin:9rem 0 0 7rem ;
}
.division1 .division1-content h1{
    margin:0;
    font-size: 3.2rem;
}
.division1 .division1-content p{
    font-size: 1rem;
    font-weight: 100;
    margin: 3rem 0;
    color: rgb(160, 160, 161);
}
.division2{
    box-sizing: border-box;
    width:100%;
    padding: 6rem;
    height: 30%;
    background-color: hsl(220, 16%, 96%);
}
.division2-header{
    font-size: 1em;
    width:35rem;
}
.division2-header p{
    color: #939090;
    font-size: 1em;
    font-weight: 400;
}
.division2 .division2-content{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem;
}
.division2 h2{
    font-size: 2rem;
    font-weight: 100;
    padding: 1rem 0;
}
.division2 .division2-content div h3{
    padding: 1.3rem 0rem 0 0;
}

.division2 .division2-content div{
    flex:1;
    padding: .85rem;
}
.division2 .division2-content div p{
    color: #939090;
    font-size: .989rem;
    font-weight: 500;
    line-height: 1.5em;;
}
.division3{
    box-sizing: border-box;
    width:100%;
    height: 28%;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.division3 h3{
    font-size: 2.2rem;
    margin: 4.3rem 5rem;
}
.division3 .articles{
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
}
.article{
    margin: 1rem;
    width: 15rem;
    background-color: #fff;
    border-radius: 0 0 .4rem .4rem;
}
article{
    padding: 3%;
}
.article img{
    width:100%;
    object-fit: cover;
    height:11rem;
    border-radius: .4rem .4rem 0 0;
}
article h5{
    font-size: 0.6rem;
    padding: .5rem 0;
}
article p{
    padding-top: 1rem;
    font-size: 0.8rem;
}
article p,article h5{
    color:#939090;
}
footer{
    padding:2rem;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-media{
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 11rem;
}
.social-media-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-icon{
    text-align: center;
}
.social-media-icon{
    padding: 0 0.5rem;
}
.social-media-icon:hover{
    filter:invert(62%) sepia(7%) saturate(3599%) hue-rotate(83deg) brightness(101%) contrast(117%);
}
.other-page-link{
    margin-left: -13rem;
    display: flex;
}
.other-page-link ul{
    padding: 0;
    text-align: left;
    list-style: none;
    color: #ccc;
    font-weight: 600;
}
.other-page-link ul li{
    font-size: 0.8rem;
    padding: .4rem 2rem;
}
.invite{
    color: #ccc;
    font-weight: 300;
    text-align: right;
}
.invite button{
    margin:1rem;
}

#hamburger-menu {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-menu div {
    width: 35px;
    height: 3px;
    background-color: hsl(233, 8%, 62%);
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.mobile-menu {
    text-align: center;
    box-shadow: 2rem 2rem 200rem hsl(233, 26%, 24%);
    background-color: hsl(0, 0%, 98%);
    display: none;
    position: absolute;
    padding: 4rem 2rem;
    top: 7em;
    left: 18vw;
    height: 11rem;
    width: 50vw;
    border-radius: 0.5rem;
}

.mobile-menu li a{
    color: hsl(233, 26%, 24%);
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 3px 0;
}

button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.other-page-link ul li:hover ,article h4:hover{
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}

@media (max-width: 768px) {
    *{
        margin:0;
    }
    header button,header nav{
        display: none;
    }
    header{
        padding: 1.5rem;
    }
    .division1{
        width: 100%;
        box-sizing: border-box;
        flex-direction: column-reverse;
        text-align: center;
        background: url(./images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position: right top;
        gap:4rem;
    }
    .mockup{
        margin: -32% 0 0 0;
    }
    .division1 .mockup img{
        width: 89%;
    }
    .division1 .division1-content{
        margin: 2rem 0;   
        align-self: center;
        text-align: center;
        width:80%;
    }
    .division1 .division1-content h1{
        margin:0;
        font-size: 2.4rem;
    }
    .division2{
        padding: 3rem;
        text-align: center;
        box-sizing: border-box;
    }
    .division2-header{
        width:100%;
    }
    .division2 .division2-content{
        flex-direction: column;
    }
    .division3 h3{
        margin: 1rem 0;
        text-align: center;
    }
    .division3{
        flex-direction: column;
    }
    .division3 .articles{
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .division3 .articles .article{
        width:100%;
    }
    .article img{
        height:auto;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer .social-media{
        margin:0;
    }
    footer .other-page-link{
        margin:0;
        flex-direction: column;
        align-items: center;
    }
    footer .other-page-link ul{
        padding: 0;
    }
    footer .other-page-link ul li{
        text-align: center;
    }
    .invite{
        text-align: center;
        margin:0;
        padding: 0%;
    }
    #hamburger-menu{
        display: block;
    }

}
